<h1>Listing customers</h1>


<div id = "tables">
	<table style="width:100%">
	  <thead>
		<tr>
		  <th>Customer ID</th>
		  <th>Firstname</th>
		  <th>Middlename</th>
		  <th>Lastname</th>
		  <th>Date of birth</th>
		  <th>Telephone</th>
		  <th>Address</th>
		  <th>City</th>
		  <th>Country</th>
		  <th>Email</th>
		  <th>Password Digest</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @customers.each do |customer| %>
		  <tr>
			<td><%= customer.id %></td>
			<td><%= customer.firstname %></td>
			<td><%= customer.middlename %></td>
			<td><%= customer.lastname %></td>
			<td><%= customer.date_of_birth %></td>
			<td><%= customer.telephone %></td>
			<td><%= customer.address %></td>
			<td><%= customer.city %></td>
			<td><%= customer.country %></td>
			<td><%= customer.email %></td>
			
			<!-- <td><%= customer.password_digest %></td> -->
			<td><%=  %> <!-- empty line so that the SHOW button doesnt move -->
			
			<td><%= link_to 'Show', customer %></td>
			<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
			<td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>

<br>

<%= link_to 'New Customer', new_customer_path %>
