<h1>Editing customer</h1>

<%= render 'form' %>

<% if employeesigned_in? %>
	<%= link_to 'Show', @customer %> |
	<%= link_to 'Back', @customer %>
<% elsif signed_in? %>
	<%= link_to 'Show', @current_customer %> |
	<%= link_to 'Back', @current_customer %>
<% end %>
