<div class = "container-fluid">
	<div class ="row">
		<div class="col-md-10">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<strong>Listing cards</strong>
				</div>

				<!-- Table -->
				<table class="table">
					<table style="width:100%">
						<thead>
							<tr>
								<th>Account Number</th>
								<th>Card Number</th>
								<th>Firstname</th>
								<th>Middlename</th>
								<th>Lastname</th>
								<th>Due date</th>
								<th>Security number</th>
								<th colspan="3"></th>
							</tr>
						</thead>

						<tbody>
							<% @cards.each do |card| %>
								<tr>
									<td><%= card.account_id %></td>
									<td><%= card.id %></td>
									<td><%= card.firstname %></td>
									<td><%= card.middlename %></td>
									<td><%= card.lastname %></td>
									<td><%= card.due_date %></td>
									<td><%= card.security_number %></td>
									<td><%= link_to 'Show', card %></td>
									<td><%= link_to 'Edit', edit_card_path(card) %></td>
									<td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</table>
			</div>
		</div>
	</div>
</div>

<!--
<div id = "tables">
	<table style="width:70%">
	  <thead>
		<tr>
		  <th>Account Number</th>
		  <th>Card Number</th>
		  <th>Firstname</th>
		  <th>Middlename</th>
		  <th>Lastname</th>
		  <th>Due date</th>
		  <th>Security number</th>
		  <th colspan="3"></th>
		</tr>
	  </thead>

	  <tbody>
		<% @cards.each do |card| %>
		  <tr>
			<td><%= card.account_id %></td>
			<td><%= card.id %></td>
			<td><%= card.firstname %></td>
			<td><%= card.middlename %></td>
			<td><%= card.lastname %></td>
			<td><%= card.due_date %></td>
			<td><%= card.security_number %></td>
			<td><%= link_to 'Show', card %></td>
			<td><%= link_to 'Edit', edit_card_path(card) %></td>
			<td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>
-->
	
<br>

<%= link_to 'New Card', new_card_path %>
