<!DOCTYPE html>
<html>
<body>

	<p id="notice"><%= notice %></p>

	<div class = "container-fluid">
		<div class ="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Search by day/month/year numerically</strong>
					</div>
					<div id = "search">
						<%= render 'search' %>
					</div>
					</br>
				</div>
			</div>
		</div>
		<div class ="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Transaction details:</strong>
					</div>

					<!-- Table -->
					<table class="table">
						<table style="width:100%">
							<tbody>
									<tr>
										<td><strong>Account:</strong></td>
										<td><%= @transaction.account.customer.firstname %>
											<%= @transaction.account.customer.lastname %></td>
									</tr>
									<tr>
										<td><strong>Transferee:</strong></td>
										<td><%= @transaction.transferAccount.customer.firstname %>
											<%= @transaction.transferAccount.customer.lastname %></td>
									</tr>
									<tr>
										<td><strong>Message:</strong></td>
										<td><%= @transaction.message %></td>
									</tr>
									<tr>
										<td><strong>Amount:</strong></td>
										<td><%= euro @transaction.amount %></td>
									</tr>
							  </tbody>
						</table>
					</table>
				</div>
			</div>
		</div>
		<% if employeesigned_in? %>
			<%= link_to 'Back', all_transactions_path %>
		<% elsif signed_in? %>
			<%= link_to 'Back', transactions_path %>
		<% end %>
	</div>


</body>
</html>