<!DOCTYPE html>
<html>
<body>
	
	<%= bootstrap_form_for(@account) do |f| %>
		<% if @account.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

			  <ul>
			  <% @account.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			  <% end %>
			  </ul>
			</div>
		<% end %>
		
		<div class = "container-fluid">
			<div class ="row">
				<div class="col-md-2">
						<!-- trying to figure out how to disable it, without using the "disable" tag, so that the customer_id is still passed -->
						<%= f.collection_select :customer_id, Customer.all, :id, :id, {}, {:readonly => "readonly", :size => 1, :selected => @current_customer.id} %>
						<%= f.select :account_type, ['Current', 'Savings'] %>
						<%= f.number_field :balance %>
					<div class="actions">
						<%= f.submit %>
					</div>
				</div>
			</div>
		</div>
	<% end %>

</body>
</html>