<!DOCTYPE html>
<html>
<body>
	<div class = "container-fluid">
		<div class ="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Search by account type</strong>
					</div>
					<div id = "search">
						<%= render 'search' %>
					</div>
					</br>
				</div>
			</div>
		</div>
		<div class ="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading">
						<strong>Your accounts</strong>
					</div>

					<!-- Table -->
					<table class="table">
						<table style="width:100%">
							<thead>
								<tr>
									<th>Account number</th>
									<th>Account type</th>
									<th>Balance</th>
									<th colspan="2"></th>
								</tr>
							</thead>

							<tbody>
								<% @accounts.each do |account| %>
									<tr>
										<td><%= account.id %></td>
										<td><%= account.account_type %></td>
										<td><%= euro account.balance %></td>
										<td><%= link_to 'Show', account %></td>
										<td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</table>
				</div>
			</div>
		</div>
		
		<%= link_to 'New Account', new_account_path %>
	</div>

</body>
</html>

